@model List<MySensorListViewModel>

@for (int i = 0; i < Model.Count(); i += 3)
{

    string privacyText = Model[i].IsPublic ? "public" : "private";

    <div class="row">
        @{
            int rowLimit = i + 3;
            for (int c = i; c < (Model.Count() < rowLimit ? Model.Count() : rowLimit); c++)
            {
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <!-- Card -->
                    <div class="card" width="100">
                        <!-- Card image -->

                        <div class="view overlay">
                            <img class="card-img-top img-fluid" src="@Model[c].ImagePath" alt="@Model[c].Name">
                            <a asp-controller="Sensor" asp-action="Details" asp-route-sensorId="@Model[c].Id">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body special-color-dark white-text rounded-bottom m-mb-4">

                            <!-- Title -->
                            <h4 class="card-title text-info text-center">@Model[c].Name</h4>
                            <!-- Text -->
                            <p class="card-text text-warning text-center">(@Model[c].SensorType)</p>
                            <p class="card-text text-white">Refresh rate: @Model[c].PollingInterval <small>seconds</small></p>
                            <p class="card-text text-white">Sensor is: @privacyText</p>

                            <!-- Button -->
                            <br />
                            <a asp-controller="Sensor" asp-action="Details" asp-route-sensorId="@Model[c].Id"
                               class="btn btn-primary">Details</a>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
            }
        }
    </div>
    <hr />
}

