@model List<MySensorListViewModel>

@for (int i = 0; i < Model.Count(); i += 3)
{

    string privacyText = Model[i].IsPublic ? "public" : "private";

    <div class="row">
        @{
            int rowLimit = i + 3;
            for (int c = i; c < (Model.Count() < rowLimit ? Model.Count() : rowLimit); c++)
            {
                <div class=" col-lg-4 col-md-4 col-sm-12">
                    <!-- Card -->
                    <div class="card">
                        <!-- Card image -->

                        <div class="view overlay">
                            <img class="card-img-top" src="@Model[c].ImagePath" alt="@Model[c].Name">
                            <a asp-controller="Sensor" asp-action="Details" asp-route-sensorId="@Model[c].Id">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body elegant-color white-text rounded-bottom m-mb-4">

                            <!-- Title -->
                            <h4 class="card-title text-white text-center">@Model[c].Name</h4>
                            <!-- Text -->
                            <p class="card-text text-warning text-center">(@Model[c].SensorType)</p>
                            <p class="card-text text-white">Refresh rate: @Model[c].PollingInterval <small>seconds</small></p>
                            <p class="card-text text-white">Sensor is: @privacyText</p>
                            <p class="card-text text-white">Current value: @Model[c].Value</p>
                        </div>
                        <div class="card-footer elegant-color border-white">
                            <span class="pull-left text-white"><small>Last update on: @Model[c].LastUpdateOn</small></span>
                            <a asp-area="" asp-controller="Sensor" asp-action="Details" asp-route-sensorId="@Model[c].Id">
                                <span class="pull-right text-white">Details <i class="fa fa-arrow-circle-right"></i></span>
                            </a>
                        </div>                      
                    </div>
                    <!-- Card -->
                </div>
            }
        }
    </div>
    <hr />
}

