@model DetailsSensorViewModel

@{
    string sensorPrivacyIcon = Model.IsPublic ? "fa-globe-americas" : "fas fa-lock";
    string sensorPrivacyText = Model.IsPublic ? "Public" : "Private";
    string sensorAlarmIcon = Model.AlarmOn ? "far fa-bell" : "far fa-bell-slash";
    string sensorAlarmText = Model.AlarmOn ? "Alarm On" : "Alarm Off";
    string url = $"/Identity/Account/Manage?userId={Model.UserId}";
    string urlGetGauge = $"/Sensor/GetGaudeData?userId={Model.UserId}";
}

<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" style="text-align:center">Sensor name: @Model.Name</h2>
                <div class="form-row">
                    <div class="col-6">
                        <div class="col">
                            @if (User.IsInRole("Administrator"))
                            {
                                string areaName = User.GetId() == Model.UserId ? "" : "Administration";
                                <a asp-area="@areaName" asp-controller="Sensor" asp-action="Update" asp-route-sensorId="@Model.SensorId"
                                   class="btn btn-block waves-effect btn-outline-primary"><b>Edit</b></a>
                            }
                            else
                            {
                                <a asp-controller="Sensor" asp-action="Update" asp-route-sensorId="@Model.SensorId"
                                   class="btn btn-block waves-effect btn-outline-primary"><b>Edit</b></a>
                            }
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#modalConfirmDelete">
                            Delete
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title">Description:</h2>
                        <p>@Model.Description</p>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title">Polling Interval:</h2>
                        <h4><b>@Model.PollingInterval</b> seconds</h4>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body text text-center">
                        <div class="form-row">
                            <div class="col-6">
                                <h4><i class="fas @sensorPrivacyIcon "></i> @sensorPrivacyText</h4>
                            </div>
                            <div class="col-6">
                                <h4><i class="fas @sensorAlarmIcon"></i> @sensorAlarmText</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @if (Model.IsSwitch)
            {
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Real time data:</h2>
                            <h4>Measure type: @Model.MeasureUnit</h4>
                            <br />
                            <div class="d-flex justify-content-center">
                                <div id="sensorIsSwitch" class="gauge sensor-size-isSwitch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title">Real time data:</h2>
                            <h4>Measure type: @Model.MeasureUnit</h4>
                            <br />
                            <div class="d-flex justify-content-center">
                                <div id="sensorIsNotSwitch" class="gauge sensor-size-isNotSwitch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Location:</h2>
                <div id="detailsMap"></div>
            </div>
        </div>
    </div>
</div>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <i class="fa fa-times fa-4x animated rotateIn"></i>

            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <form asp-area="" asp-controller="Sensor" asp-action="ToggleDelete" asp-route-sensorId="@Model.SensorId"
                      method="post">
                    <button type="submit" class="btn btn-outline-danger">
                        Yes
                    </button>
                </form>
                <a class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalConfirmDelete-->

<script src="~/lib/justgage/raphael-2.1.4.min.js"></script>
<script src="~/lib/justgage/justgage.js"></script>

<script>
    $(function () {
        var isSwitch = @Json.Serialize(Model.IsSwitch);
        var isSwitchGauge, isNotSwitchGauge;

        if (isSwitch) {
            var isSwitchDefaults = {
                value: @Model.StartValue,
                gaugeWidthScale: 0.5,
                donut: true,
                min: 0,
                max: 1,
                relativeGaugeSize: true,
                gaugeColor: "#FF0000", // false
                levelColors: ["#00b200"], // true
                textRenderer: function (val) {
                    if (val <= -100) {
                        // toastr send notify alert
                        return 'Api is down!';
                    } else if (val == -50 || val == null) {
                        return 'fetching';
                    } else if (val == 0) {
                        return 'Closed';
                    } else if (val == 1) {
                        return 'Opened';
                    }
                }
            }
            // instance of switch gauge
            isSwitchGauge = new JustGage({
                id: "sensorIsSwitch",
                defaults: isSwitchDefaults
            });

            setInterval(function () {
                $.getJSON('/Sensor/GetGaugeData?sensorId=@Model.SensorId', function (data) {
                    // check if data is null or is not live updated
                    if (data.currentValue === undefined || !data.isUpdated) {
                        isSwitchGauge.refresh(-100);
                    }
                    else {
                        isSwitchGauge.refresh(data.currentValue);
                    }
                });
            }, @Model.PollingInterval * 1000);
        }
        else {
            var alarmOn = @Json.Serialize(Model.AlarmOn);
            var isNotSwitchDefaults = {
                value: @Model.StartValue,
                min: @Model.MinRangeValue,
                max: @Model.MaxRangeValue,
                decimals: 2,
                gaugeWidthScale: 0.3,
                pointer: true,
                pointerOptions: {
                    toplength: -8,
                    bottomlength: 8,
                    bottomwidth: 10,
                    color: '#EE7600',
                    stroke: '#808080',
                    stroke_width: 1,
                    stroke_linecap: 'round'
                },
                levelColors: [
                    "#FF0000",
                    "#00b200",
                    "#FF0000"
                ],
                textRenderer: function (val) {

                    if (val <= -100) {
                        return 'Api is down';
                    } else if (val === -99) {
                        return 'offline';
                    } else if (val == -50 || val == null) {
                        return 'fetching';
                    } else if (val < @Model.MinRangeValue) {
                        if (alarmOn) {
                            return 'Alarm! ' + val;
                        }
                        else {
                            return 'Out of range';
                        }
                    } else if (val > @Model.MaxRangeValue) {
                        if (alarmOn) {
                            return 'Alarm! ' + val;
                        }
                        else {
                            return 'Out of range';
                        }
                    } else if (val >= @Model.MinRangeValue && val <= @Model.MaxRangeValue) {
                        return val;
                    }
                },
                counter: true,
                relativeGaugeSize: true
            }

            // instance of not switch gauge
            isNotSwitchGauge = new JustGage({
                id: "sensorIsNotSwitch",
                defaults: isNotSwitchDefaults
            });

            setInterval(function () {
                $.getJSON('/Sensor/GetGaugeData?sensorId=@Model.SensorId', function (data) {
                    if (data.currentValue === undefined) {
                        isNotSwitchGauge.refresh(-100);
                    } else if (!data.isUpdated) {
                        isNotSwitchGauge.refresh(-99);
                    }
                    else {
                        isNotSwitchGauge.refresh(data.currentValue);
                    }
                });
            }, @Model.PollingInterval * 1000);
        }
    });
</script>

<script>
        function initMap() {
            // The location of the sensor
            var sensor = { lat: @Model.Latitude, lng: @Model.Longtitude };
            // The map, centered at the sensor
            var map = new google.maps.Map(
                document.getElementById('detailsMap'), {
                    zoom: 12,
                    center: sensor,
                    streetViewControl: true,
                    mapTypeId: 'roadmap'
                });

            // The marker, positioned at the sensor
            var marker = new google.maps.Marker({ position: sensor, map: map });
            var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">@Model.Name</h1>'+
            '<div id="bodyContent">'+
            '<p><b>@Model.Description</b></p>'+
            '<p><b>Owner profile link - <a href="@url">'+
            'Click here</b></a>'+
            '</p>'+
            '</div>'+
            '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbGBfxwfVNuXS1OY-O8qbuglmWIbkEC70&callback=initMap">
</script>