@model IEnumerable<UserViewModel>

@{
    // either this or move  script into this partial view
    string adminBtnStyle = "btn-danger";
    <input hidden id="adminBtnStyle" value="@adminBtnStyle" />

    string nonAdminBtnStyle = "btn-dark-green";
    <input hidden id="nonAdminBtnStyle" value="@nonAdminBtnStyle" />

    string isAdminText = "Remove Admin";
    <input hidden id="isAdminText" value="@isAdminText" />

    string isNotAdminText = "Make Admin";
    <input hidden id="isNotAdminText" value="@isNotAdminText" />
}

<div id="users-table">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="th-lg" scope="col" style="text-align:center">UserName</th>
                    <th class="th-lg" scope="col" style="text-align:center">Sensors Count</th>
                    <th class="th-lg" scope="col" style="text-align:center">Role</th>
                    <th class="th-lg" scope="col" style="text-align:center">Action</th>
                    <th class="th-lg" scope="col" style="text-align:center">State</th>
                </tr>
            </thead>
            <tbody id="user-section">
                @foreach (var user in Model)
                {
                    <tr style="text-align:center">
                        <td>@user.UserName</td>
                        <td>@user.SensorsCount</td>
                        <td>
                            @if (user.UserName == User.Identity.Name || user.UserName == "admin")
                            {
                                <button class="btn btn-dark-green" disabled>Admin</button>
                            }
                            else
                            {
                                string buttonClass = user.IsAdmin ? adminBtnStyle : nonAdminBtnStyle;
                                string buttonTitle = user.IsAdmin ? isAdminText : isNotAdminText;

                                <form asp-area="Administration" asp-controller="UserManager"
                                      asp-action="ToggleRole" data-user-id="@user.Id" method="post" class="roleForm">
                                    <button class="roleButton btn @buttonClass"
                                            data-user-id="@user.Id" type="submit">
                                        @buttonTitle
                                    </button>
                                </form>
                            }
                        </td>
                        <td>
                            <a asp-area="Identity" asp-route-userId="@user.Id"
                               asp-page="/Account/Manage/Index" class="btn btn-brown waves-effect">Profile</a>
                        </td>
                        <td>
                            @if (user.IsDeleted)
                            {
                                <a asp-area="Administration" asp-controller="UserManager"
                                   asp-action="Delete" asp-route-userId="@user.Id"
                                   class="btn btn-dark-green waves-effect">Enable</a>
                            }
                            else
                            {
                                <button type="button" class="modalBtn btn btn-danger waves-effect"
                                        data-toggle="modal" data-target="#deleteModal" data-testId="@user.Id">
                                    Disable
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>