@model UsersPagingViewModel

@{
    var previousDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty;
}

<div id="users-table">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="th-lg" scope="col" style="text-align:center">UserName</th>
                    <th class="th-lg" scope="col" style="text-align:center">Sensors Count</th>
                    <th class="th-lg" scope="col" style="text-align:center">Role</th>
                    <th class="th-lg" scope="col" style="text-align:center">Action</th>
                    <th class="th-lg" scope="col" style="text-align:center">State</th>
                    <th class="th-lg" scope="col" style="text-align:center">Create Sensor</th>
                </tr>
            </thead>
            <tbody id="user-section">
                @foreach (var user in Model.Users)
                {
                <tr style="text-align:center">
                    <td>@user.UserName</td>
                    <td>@user.SensorsCount</td>
                    <td>
                        @if (user.UserName == User.Identity.Name || user.UserName == "admin")
                        {
                            <button class="btn btn-dark-green" disabled>Admin</button>
                        }
                        else
                        {
                            string buttonClass = user.IsAdmin ? "btn-danger" : "btn-dark-green";
                            string buttonTitle = user.IsAdmin ? "Remove Admin" : "Make Admin";

                            <form asp-area="Administration" asp-controller="UserManager"
                                  asp-action="ToggleRole" data-user-id="@user.Id" method="post" class="roleForm">
                                <button class="roleBtn btn @buttonClass" type="submit">
                                    @buttonTitle
                                </button>
                            </form>
                        }
                    </td>
                    <td>
                        <a asp-area="Identity" asp-route-userId="@user.Id"
                           asp-page="/Account/Manage/Index" class="btn btn-brown waves-effect">Profile</a>
                    </td>
                    <td>
                        @if (user.UserName == User.Identity.Name || user.UserName == "admin")
                        {
                            <button class="btn btn-dark-green" disabled>Admin</button>
                        }
                        else
                        {
                            string buttonClass = user.IsDeleted ? "btn-danger" : "btn-dark-green";
                            string buttonTitle = user.IsDeleted ? "Disable" : "Enable";
                            <form asp-area="Administration" asp-controller="UserManager"
                                  asp-action="Delete" data-user-id="@user.Id" method="post"
                                  class="deleteUserForm">
                                <button class="userStateBtn btn @buttonClass" data-user-id="@user.Id" type="submit">
                                    @buttonTitle
                                </button>
                            </form>

                        }
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Sensor" asp-action="RegisterIndex" asp-route-userId="@user.Id"
                           class="btn btn-deep-orange waves-effect">Register</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<ul class="pagination pagination-circle pg-purple">
    <li class="page-item">
        <a class="page-link @previousDisabled" id="prevPage" aria-label="Previous">
            <span aria-hidden="true">Previous</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    @if (Model.TotalPages > 1)
    {
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)">
                <a onclick="goToPageNumber(this)" data-page-number="@i" class="page-link">
                    @i
                </a>
            </li>
        }
    }
    <li class="page-item">
        <a class="page-link @nextDisabled" id="nextPage" aria-label="Next">
            <span aria-hidden="true">Next</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>

<script src="~/js/userManagerScripts.js"></script>
<script>
    $(function () {
        movePage("#nextPage", @Model.NextPage);
        movePage("#prevPage", @Model.PreviousPage);

        function movePage(tagId, targetPage) {
            $(tagId).click(function () {
                let url = "@Url.Action("Users", "UserManager")?page=" + targetPage;

                $("#usersTable").load(url);
            })
        }
    });
</script>
