@model SensorsIndexViewModel

<div class="form-row">
    <div class="col-lg-4">
        <label class="text-muted"><small>Search by username, sensor name or description</small></label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text cyan lighten-2" id="basic-text1">
                    <i class="fa fa-search text-white" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" id="searchTerm" class="form-control form-control-lg" aria-describedby="searchBtn">
            <div class="input-group-append">
                <button class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect" type="submit" id="searchBtn">Find</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 form-group">
        <label asp-for="MeasureTypes"></label>
        <select asp-for="@Model.MeasureTypeId" asp-items="Model.MeasureTypes" class="form-control form-control-lg text-monospace">
            <option value="all">-- All --</option>
        </select>
    </div>

    <div class="form-group col-md-2">
        <label asp-for="IsPublic"></label>
        <select asp-for="@Model.IsPublic" class="form-control form-control-lg text-monospace">
            <option value="-1">-- All --</option>
            <option value="1">Public</option>
            <option value="0">Private</option>
        </select>
    </div>

    <div class="form-group col-md-2">
        <label asp-for="AlarmSet"></label>
        <select asp-for="@Model.AlarmSet" class="form-control form-control-lg text-monospace">
            <option value="-1">-- All --</option>
            <option value="1">Alarm on</option>
            <option value="0">Alarm off</option>
        </select>
    </div>

</div>

<div id="sensorsTable" class="form-group">
    <partial name="_SensorsTablePartialView" model="@Model.PartialModel" />
</div>

<script>

    //used in partial view pagination
    function goToPageNumber(elem) {
        let selectedPage = $(elem).data('page-number');
        let typeId = $("#MeasureTypeId").val();
        let isPublic = $("#IsPublic").val();
        let alarmSet = $("#AlarmSet").val();
        let searchTerm = $("#searchTerm").val();
        let url = "@Url.Action("LoadSensorsTable", "Sensor")?measureTypeId=" + typeId +
            "&isPublic=" + isPublic + "&alarmSet=" + alarmSet + "&page=" + selectedPage + "&searchTerm=" + searchTerm;

        $("#sensorsTable").load(url);
    }

    $(function () {
        const reloadTable = function () {
             let typeId = $("#MeasureTypeId").val();
             let isPublic = $("#IsPublic").val();
             let alarmSet = $("#AlarmSet").val();
             let searchTerm = $("#searchTerm").val();
             let url = "@Url.Action("LoadSensorsTable", "Sensor")?measureTypeId=" +
                 typeId + "&isPublic=" + isPublic + "&alarmSet=" + alarmSet + "&searchTerm=" + searchTerm;

             console.log(url)
             $("#sensorsTable").load(url);
        }

        $("#MeasureTypeId").change(reloadTable);
        $("#IsPublic").change(reloadTable);
        $("#AlarmSet").change(reloadTable);
        $("#searchBtn").click(reloadTable);

        $("#searchTerm").keyup(function (event) {
            if (event.keyCode === 13) {
                reloadTable();
            }
        });

    });
</script>
