@model SensorsIndexViewModel

<div class="form-row">
    <label asp-for="@Model.SearchTerm" class="text-muted">Search for username, sensor name or description</label>
    <input asp-for="@Model.SearchTerm" type="text" class="form-control" placeholder="Type here" />
</div>
<hr />
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="MeasureTypes"></label>
        <select asp-for="@Model.MeasureTypeId" asp-items="Model.MeasureTypes" class="form-control form-control-lg text-monospace">
            <option value="all">-- All --</option>
        </select>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="IsPublic"></label>
        <select asp-for="@Model.IsPublic" class="form-control form-control-lg text-monospace">
            <option value="-1">-- All --</option>
            <option value="1">Public</option>
            <option value="0">Private</option>
        </select>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="AlarmSet"></label>
        <select asp-for="@Model.AlarmSet" class="form-control form-control-lg text-monospace">
            <option value="-1">-- All --</option>
            <option value="1">Alarm on</option>
            <option value="0">Alarm off</option>
        </select>
    </div>

</div>

<div id="sensorsTable" class="form-group">
    <partial name="_SensorsTablePartialView" model="@Model.PartialModel" />
</div>

<script>

    //used in partial view pagination
    function goToPageNumber(elem) {
        let selectedPage = $(elem).data('page-number');
        let typeId = $("#MeasureTypeId").val();
        let isPublic = $("#IsPublic").val();
        let alarmSet = $("#AlarmSet").val();
        let url = "@Url.Action("LoadSensorsTable", "Sensor")?measureTypeId=" + typeId +
            "&isPublic=" + isPublic + "&alarmSet=" + alarmSet + "&page=" + selectedPage;

        $("#sensorsTable").load(url);
    }



    $(function () {
        const reloadTable = function () {
             let typeId = $("#MeasureTypeId").val();
             let isPublic = $("#IsPublic").val();
             let alarmSet = $("#AlarmSet").val();
             let url = "@Url.Action("LoadSensorsTable", "Sensor")?measureTypeId=" +
                 typeId +"&isPublic=" + isPublic + "&alarmSet=" + alarmSet;

             console.log(url)
             $("#sensorsTable").load(url);
        }

        $("#MeasureTypeId").change(reloadTable);
        $("#IsPublic").change(reloadTable);
        $("#AlarmSet").change(reloadTable);

    });
</script>
